*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Para el header */
.navContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 50px;
}

.navContainer a{
  text-decoration: none;
  color: white;
}

.navContainer img{
  height: 50px;
}

.carrito{
  color: white;
  font-size: 30px;
}
.carrito span{
  border-radius: 10px;
  font-size: 10px;
  background-color: red;
}

/* Para el main */

h1 {
  text-align: center;
  padding: 40px;
}

h2 {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

/* Para lista de items */

.itemList{
  display: flex;
  justify-content: space-around;
}

/* Para las card*/

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  margin: 15px;
  padding-bottom: 10px ;
  border: 3px solid black;
  border-radius: 2rem;
}

.card img{
  width: 80%;
  border-radius: 2rem;
  padding-top: 0.5rem;
  margin-bottom: 5px;
}

/* Para detalles de productos */

.itemDetail{
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 500px;
  grid-template-areas:
  "titulo titulo"
  "imagen resumen"
  "imagen resumen"
  "detalle resumen";
  justify-items: center;
}

.tituloDetail {
  grid-area: titulo;
}

.imgDetail {
  grid-area: imagen;
}

.imgDetail img{
  height: 20rem;
}

.parrafoDetail {
  grid-area: detalle;
}

.resumenDetail {
  grid-area: resumen;
  
}

.cantidad {
  justify-items: center;
}

/* Para el Footer */
footer {
  text-align: center;
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 5px;
}

footer img {
  width: 20px;
  height: 20px;
  margin: 10px;
}